
name: CI

on:
  push:
    branches: [main,master]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [main,master]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

jobs: 
  test-remote-dispatch:
    name: Test remote dispatch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git pull
      - name: Test remote workflow dispatch
        uses: ./
        with:
          token: ${{ secrets.USER_PAT }}
          external-repository: the-iron-bank-of-braavos/poc-actions
          ref: temp
          workflow: remote-nested-workflow2.yml
          inputs: "{\"name\":\"Santander Remote Command Line User\", \"home\":\"CLI\" }"
